html, body {
  height: 100%;
  width: 100%;
  display: block;
  font: 14px/16px sans-serif;
  color: #777;
  overflow: hidden;
}

#main {
}

.floatl
{
  float: left;
}

#content {
  margin: 0 auto;
  max-width: 30%;
}

#logo-container {
  max-height: 240px;
  max-width: 200px;
  margin: 100px auto 0px;
}

#logo-container-sp {
  display: block;
  max-height: 100px;
  max-width: 150px;
  margin: auto 40px auto 20px;
}
#logo {
  display: block;
  margin: auto;
  max-width: inherit;
}

.search {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  width: 100%;
}

#search-box {
  border: 1px solid;
  background-color: #FFF;
  border-color: #EEE;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin: 20px 15px 10px;
  padding: 10px 14px;
  box-shadow: 3px 3px 3px #CCC;
}

#header #search-box {
  margin: 4px 15px 10px;
}

#buttons {
  max-height: 42px;
  margin: 0 auto;
  max-width: 300px;
}

.button {
  display: inline-block;
  border: solid #EEE 1px;
  background-color: #EEE;
  margin: 5px 4px auto 4px;
  padding: 10px 15px;
  color: #888;
  font-weight: bold;
  font-size: 13px;
}

.button:hover {
  border: solid #DDD 1px;
  background-color: #F3F3F3;
  color: #555;
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
}

#nav-container {
  position: relative;
  height: 22px;
  left: 830px;
  bottom: 300px;
  margin-top: 5%;
}

#nav-container-sp {
  position: relative;
  height: 22px;
  left: 94%;
}

.nav {
  float: left;
}

.nav:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #444;
}

.nav-bl {
  float: left;
}

.nav-bl:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #444;
}

#nav-bl-filler {
  margin-left: 1486px;
}

.sign-in {
  float: left;
  margin-top: 0;
}

nav {
  position: absolute;
  width: inherit;
  margin-top: 6px;
}

li {
  margin: 8px 6px;
}

#sign-in {
  background-color: #3b75cb;
  font-weight: bold;
  color: #FFF;
  margin-top: 2px;
  padding: 6px 8px;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
}

header {
  position: relative;
  height: 10%;
  max-height: 10%;
  width: 100%;
  clear: both;
  line-height: 10%;
  background-color: #EEE;
  border-top: solid #EEE 1px;
  border-bottom: solid #DDD 1px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#footer-container {
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #DDD;
  border-top: solid #BBB 1px;
  border-bottom: solid #DDD;
  font-size: 12px;
}

#footer-filler {
  width: 70%;
}
