html, body {
  height: 100%;
  width: 100%;
  display: block;
  font: 14px/16px sans-serif;
}

#main {

}

#content {
  margin: 0 auto;
  max-width: 30%;
}

#logo-container {
  max-height: 240px;
  max-width: 50%;
  margin: 100px auto 0px;
}

#logo {
  display: block;
  margin: auto;
}

.search {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

#search-box {
  border: 1px solid;
  border-color: #EEE;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin: 20px 15px 10px;
  padding: 10px 14px;
}

#buttons {
  max-height: 42px;
  margin: 0 auto;
  max-width: 300px;
}

.button {
  display: inline-block;
  border: none;
  background-color: #EEE;
  margin: 5px 4px auto 4px;
  padding: 10px 15px;
}

#nav-container {
  position: relative;
  height: 22px;
  left: 830px;
  bottom: 300px;
}

.nav {
  float: left;
}

.nav:hover {
  text-decoration: underline;
}
.sign-in {
  float: left;
  margin-top: 0;
}

nav {
  position: absolute;
  width: inherit;
  margin-top: 6px;
}

li {
  margin: 8px 4px;
}

#sign-in {
  background-color: #3b75cb;
  font-weight: bold;
  color: #FFF;
  margin-top: 2px;
  padding: 6px 8px;
  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
